[defaults]
roles_path = ./roles
inventory = ./inventories/netbox.yml
host_key_checking = False
force_valid_group_names = always

[persistent_connection]
connect_timeout = 60
command_timeout = 60
ssh_type = libssh

[inventory]
enable_plugins = netbox.netbox.nb_inventory, host_list, yaml, ini

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=150s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o PubkeyAuthentication=no -o PreferredAuthentications=password,keyboard-interactive -o KexAlgorithms=+diffie-hellman-group-exchange-sha1,diffie-hellman-group14-sha1 -o HostKeyAlgorithms=+ssh-rsa -o Ciphers=+aes256-cbc
