[defaults]
roles_path = ./roles
inventory = ./inventories/lab/hosts
host_key_checking = False

[persistent_connection]
connect_timeout = 60
command_timeout = 60

[inventory]
enable_plugins = netbox.netbox.nb_inventory, yaml, ini

# 👇 THÊM BLOCK NÀY
[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=150s -o KexAlgorithms=+diffie-hellman-group-exchange-sha1,diffie-hellman-group14-sha1 -o HostKeyAlgorithms=+ssh-rsa -o Ciphers=+aes256-cbc
