NETBOX_API=http://192.168.80.20:8000
NETBOX_URL=http://192.168.80.20:8000
NETBOX_TOKEN_TYPE=Bearer
NETBOX_TOKEN=nbt_replace_with_your_netbox_token
NETBOX_VALIDATE_CERTS=false
NETBOX_SITE=TEST_C1

ANSIBLE_NET_USER=admin
ANSIBLE_NET_PASSWORD=replace_with_network_password
ANSIBLE_NET_ENABLE_PASSWORD=replace_with_enable_password

SNMP_COMMUNITY=replace_with_snmp_ro_community

ZABBIX_API_HOST=192.168.80.20
ZABBIX_API_PORT=8080
ZABBIX_API_USE_SSL=false
ZABBIX_URL_PATH=
ZABBIX_USER=Admin
ZABBIX_PASSWORD=
ANSIBLE_ZABBIX_AUTH_KEY=replace_with_zabbix_api_token
ZABBIX_MAP_NAME=NetBox Topology
ZABBIX_ALERT_ENV=prod
ZABBIX_NOTIFY_LAB=false
ZABBIX_ALERT_MIN_SEVERITY=warning
ZABBIX_ACTION_ESC_PERIOD=10m
ZABBIX_TELEGRAM_USER=Admin
TELEGRAM_BOT_TOKEN=replace_with_telegram_bot_token
TELEGRAM_CHAT_ID=replace_with_telegram_group_or_chat_id
TELEGRAM_PARSE_MODE=Markdown
ZABBIX_IFALIAS_MATCHES=^(UPLINK|DOWNLINK|PEER|WAN|SRV|AP)(\\s*\\|.*)?$
ZABBIX_IFALIAS_NOT_MATCHES=^(USER|CAM|CAMERA)(\\s*\\|.*)?$

FORTIGATE_USER=admin
FORTIGATE_PASSWORD=replace_with_fortigate_password
